.container-video-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-video {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
	align-content: baseline;
	margin-bottom: 28px;
    box-shadow: 5px 3px 8px 4px #eee;
}
.container-video .video{
	width:100%;
}
.video iframe {
	width:100%;
    height: 250px;
}

.details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.avatar {
    width: 15%;
}

.detailed-info {
    width: 85%;
    padding-left: 20px;
}

.avatar img {
    width: 100%;
	border-radius: 50px;
}

.title{
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	margin-bottom: 0px;
}

.description{
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.container.video-gallery {
    width: 100%;
    max-width: 1200px;
    padding: 0;
    margin: 40px auto;
}

.container.video-gallery h1 {
    text-align: center;
    margin-bottom: 28px;
    font-size: 3rem;
}

.author-name {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 0;
}
