#map {
    width: 100%;
    height: 600px;
    margin-top: 18px;
}

main#wp--skip-link--target {
    margin-top: 0 !important;
}

.leaflet-container {
    border-radius: 10px;
    border: 1px solid #e6e6e6;
}

.price-range .price-label {
    font-size: 16px;
    font-weight: bold;
    color: #555;
    margin-right: 6px;
    white-space: nowrap;
}

.price-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
}

.price-min-label,
.price-max-label {
    font-weight: 500;
    margin-bottom: 2px;
}

.filter-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    padding: 16px 20px;
    margin: 0 auto 20px;
    background: #f8f9fa;
    border: 1px solid #e5e5e5;
    border-radius: 12px;
    max-width: 1240px;
}

.filter-wrapper select,
.filter-wrapper input,
.filter-wrapper button {
    margin: 0 27px;
    border-radius: 8px;
    border: 1px solid #d0d0d0;
    background: #fff;
    font-size: 14px;
    min-width: 150px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    text-transform: capitalize;
}

.filter-wrapper select:hover,
.filter-wrapper input:hover,
.filter-wrapper button:hover {
    border-color: #b4b4b4;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

/* ------------ BUTTON (search & position) ------------ */
#filter-btn,
#locate-btn {
    background: #ffffff;
    font-weight: 500;
    height: 35px;
}

#filter-btn:hover {
    background: #000;
    color: #fff;
}

#locate-btn:hover {
    background: #f1f1f1;
}

#filter-radius {
    width: 120px;
    padding-left: 10px;
}

/* ------------ PRICE RANGE ------------ */
.price-range {
    display: flex;
    align-items: center;
    gap: 8px;
}

#price-display {
    min-width: 90px;
    text-align: center;
    font-weight: 500;
}
