<div class="flex">
	<img class="mr-6" src="{{ post.thumbnail.thumbnail.url }}" width="{{ post.thumbnail.thumbnail.width }}" height="{{ post.thumbnail.thumbnail.height }}" alt="{{ post.thumbnail.thumbnail.alt }}">
	<div class="flex-1">
		<strong>Date:</strong> {{ post.datetime | date( 'F j, Y' ) }}<br>
		<strong>Location:</strong> {{ post.location }}
		<div class="mt-3">
			{{ post.content }}
		</div>
	</div>
</div>

<h2 class="mt-6">Find your way to the event</h2>
{{ post.map.rendered }}

<h2 class="mt-6">Tickets</h2>
<table>
	{% for clone in post.tickets %}
		<tr>
			<th class="text-left">{{ clone.title }}</th>
			<td class="text-right">${{ clone.price }} USD</td>
			<td class="text-center"><a href="{{ clone.url }}">Buy Ticket</a></td>
		</tr>
	{% endfor %}
</table>

<h2 class="mt-6">Speakers</h2>
{% set args = {post_type: 'speaker', nopaging: true, relationship: {id: 'events_to_speakers', from: post.ID}} %}
{% set speakers = mb.get_posts( args ) %}

<div class="grid grid-cols-3 gap-4">
	{% for speaker in speakers %}
		<div class="text-center">
			{{ mb.get_the_post_thumbnail( speaker, 'thumbnail', {class: 'inline-block rounded-full'} ) }}
			<h4 class="my-3">{{ speaker.post_title }}</h4>
			<div>
				<a href="{{ mb.rwmb_meta( 'twitter', '', speaker.ID ) }}"><svg aria-hidden="true" focusable="false" class="w-8 inline-block" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="#1da1f2" d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-48.9 158.8c.2 2.8.2 5.7.2 8.5 0 86.7-66 186.6-186.6 186.6-37.2 0-71.7-10.8-100.7-29.4 5.3.6 10.4.8 15.8.8 30.7 0 58.9-10.4 81.4-28-28.8-.6-53-19.5-61.3-45.5 10.1 1.5 19.2 1.5 29.6-1.2-30-6.1-52.5-32.5-52.5-64.4v-.8c8.7 4.9 18.9 7.9 29.6 8.3a65.447 65.447 0 0 1-29.2-54.6c0-12.2 3.2-23.4 8.9-33.1 32.3 39.8 80.8 65.8 135.2 68.6-9.3-44.5 24-80.6 64-80.6 18.9 0 35.9 7.9 47.9 20.7 14.8-2.8 29-8.3 41.6-15.8-4.9 15.2-15.2 28-28.8 36.1 13.2-1.4 26-5.1 37.8-10.2-8.9 13.1-20.1 24.7-32.9 34z"></path></svg></a>
				<a href="{{ mb.rwmb_meta( 'facebook', '', speaker.ID ) }}"><svg aria-hidden="true" focusable="false" class="w-8 inline-block" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="#3b5998" d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.25V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48z"></path></svg></a>
			</div>
		</div>
	{% endfor %}
</div>
