/* wrapper */
.mb-header {
    width: 100%;
    text-align: center;
}

/* grid */
.hotel-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}

/* card */
.hotel-item {
    background: #fff;
    border: 1px solid #eee;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);
}

.thumb-wrap {
    display: block;
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
    background: #f4f4f4;
}

.thumb-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.thumb-placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999;
    padding: 28px;
}

/* mb-content */
.mb-content {
    padding: 12px;
    text-align: center;
}

.title {
    display: block;
    margin-bottom: 6px;
    font-size: 25px;
}

.title a {
    color: #111;
    text-decoration: none;
}

.location-names {
    color: #3e7c7a;
    font-size: 15px;
    font-weight: bold
}

/* filter */
.hotel-filter {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hotel-label {
    font-weight: 600;
    margin-bottom: 4px;
}

.hotel-input-wrap {
    display: flex;
    gap: 8px;
    align-items: center;
    position: relative;
}

#location {
    flex: 1;
    padding: 8px 10px;
    border: 1px solid #646464;
    border-radius: 6px;
    max-width: 250px;
}

.filter-action {
    padding: 8px 15px;
    background: #0b74de;
    color: #fff;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
}


.suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    right: auto;
    width: calc(100% - 90px);
    background: #fff;
    border: 1px solid #e0e0e0;
    box-shadow: 0 6px 18px rgba(0, 0, 0, .06);
    z-index: 9999;
    list-style: none;
    padding: 0;
    overflow: auto;
    max-height: 220px;
    max-width: 250px;
}

.suggestions li {
    padding: 8px 10px;
    cursor: pointer;
}

.suggestions li:hover {
    background: #f5f7fb;
}
