$color__line: rgba(38, 50, 56, .1);
$color__silver: #6f8590;
$color__headings: #0f161a;
$color__main: #263238;
$color__highlight: #06c;
$color__menu-item: #586674;

$color__background-body: #f5f7f8;
$color__background-screen: #f1f1f1;
$color__background-hr: $color__line;
$color__background-button: $color__highlight;
$color__background-pre: $color__main;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color__highlight;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: $color__main;

$color__border-button: $color__highlight;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: $color__line;
$color__border-abbr: #666;
