.listing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.contain-restaurant, a.name-res {
    color: #000;
}

.contain-restaurant {
    position: relative;
	width: 32%;
    margin-bottom: 15px;
}
 
.contain-restaurant a {
    color: #333;
    text-decoration: underline;
    font-weight: 700;
    font-size: 18px;
    font-family: 'Lato';}
  
.contain-restaurant .voucher-res a {
    color: #fff !important;
    pointer-events: none;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
}
  
.contain-restaurant:hover .href-res {
    display: block;
    opacity: 1;
    color: #fe5252;
    border: 3px double #fe5252;
    text-decoration: none;
}
  
.contain-restaurant .href-res {
    display: none;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    z-index: 99;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border: 3px double #333;
    padding: 5px;
    text-decoration: none;
}
  
.contain-restaurant a:hover {
    color: #fe5252;
}
    
.contain-restaurant:hover .cover-image-res {
    opacity: 0.3;
    background: #fff;
}
  
.contain-restaurant:hover .cover-image-res image {
    transform: scale(1.5);
}
  
.cover-image-res {
    overflow: hidden;
    width: 100%;
    padding-top: calc(100% * 243/385);
    position: relative;
    transition: all .35s ease-in-out;
}

  
.voucher-res {
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 15% 100%, 0% 50%, 15% 0%);
    background: rgba(231,57,72,.85);
    padding: 5px 20px 5px 30px;
    color: #fff;
    width: max-content;
    margin-top: 10px;
}
  
.logo {
    position: absolute !important;
    right: 5px;
    top: 5px;
	width:60px;
}
  
.logo img {
    width: 100%;
}
  
.voucher-res span {
      color: #fff;
}

.voucher-res span ul {
    list-style: none;
    margin: 0;
}

.contain-restaurant.viewed:before {
	content: '\f06e';
	position: absolute;
	top: 5px;
	font-family: 'FontAwesome';
	font-size: 20px;
	left: 5px;
	z-index: 1;
	border: 1px solid #ff3e00;
	padding: 0px 10px;
	color: #ff0000c2;
}

.cover-image-res img {
    top: 0;
    position: absolute;
    height: 100%;
	width: 100%;
}
