#mb-block-quote{
	display: flex;
    flex-wrap: nowrap;
}
.quote-content{
	background: #2c8791;
    color: #fff;
    width: 100%;
    text-align: center;
}
.quote_author::after,
.quote_author::before{
    content:" ~ ";
}
.quote__image {
	height: 100%!important;
}
.quote_author{
    font-weight: 500;
    font-size: 18px;
    padding: 0 20px;
}
.quote_content{
    padding: 30px;
    font-style: italic;
    font-size: 20px;
}
.quote_positon{
	padding: 0 30px;
}
