#restaurant-status{
    color: #ffffff;
    text-align: center;
    font-size: 60px;
    font-family: "Yusei Magic";
    line-height: 1;
    width: 100%;
    display: block;
    margin-bottom: 20px;
}
